@model IEnumerable<ManagePeopleCompany.Models.Candidate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions {
        UpdateTargetId = "candidates",
        Url = Url.Action("GetCandidates")
    };
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @using (Ajax.BeginForm(ajaxOptions))
    {
        @Html.DropDownList("filterStatus", new SelectList(ViewBag.filterStatus, "Id", "TitleStatus", -1), htmlAttributes: new { @class = "form-control" })
        @Html.DropDownList("filterPosition", new SelectList(ViewBag.filterPosition, "Id", "TitlePosition", -1), htmlAttributes: new { @class = "form-control" })
        <input type="text" name="filterLN" value="@ViewBag.filterLN" placeholder="Найти по фамилии" />
        <input type="text" name="filterFN" value="@ViewBag.filterFN" placeholder="Найти по имени" />
        <button type="submit">Отобразить</button>
        <table class="table">
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    <p>HR</p>
                </th>
                <th>
                    Статус
                </th>
                <th>
                    Позиция
                </th>
                <th>
                    Опыт
                </th>
                <th>
                    ЗП
                </th>
                <th>
                    <p>Email</p>
                </th>
                <th></th>
            </tr>

            <tbody id="candidates">
                @Html.Action("GetCandidates")
            </tbody>
        </table>
    }
</div>
