@model IEnumerable<ManagePeopleCompany.Models.Person>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "people",
        Url = Url.Action("GetPeople")
    };
}

Welcome @HttpContext.Current.User.Identity.Name
Position @HttpContext.Current.Request.Cookies["positionUser"].Value

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}

<h2>List People company</h2>
<div>
    @using (Ajax.BeginForm(ajaxOptions))
    {
        @Html.DropDownList("filterPosition", new SelectList(ViewBag.filterPosition, "Id", "TitlePosition", -1), htmlAttributes: new { @class = "form-control" })
        <input type="text" name="filterLN" value="@ViewBag.filterLN" placeholder="Найти по фамилии" />
        <input type="text" name="filterFN" value="@ViewBag.filterFN" placeholder="Найти по имени" />
        <button type="submit">Отобразить</button>

        <table class="table">
            <tr>
                <th>
                    ФИО
                </th>
                <th>
                    Позиция
                </th>
                <th>
                    Опыт
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    <p>Email</p>
                </th>
                @if (@HttpContext.Current.Request.Cookies["positionUser"].Value == "Менеждер")
                {
                    <th>
                        Зарплата
                    </th>
                }
                <th>
                    <p>Skype</p>
                </th>
                @if (@HttpContext.Current.Request.Cookies["positionUser"].Value == "Менеждер")
                {
                    <th>
                    </th>
                }
                </tr>
            <tbody id="people">
                @Html.Action("GetPeople")
            </tbody>
        </table>
    }
</div>
<div>
    @Html.ActionLink("Add person", "CreatePerson", new { })
</div>
